---
layout: blog
title: Life
permalink: /life/
---
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Life</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        {% for story in site.data.blog_nav_bar.life %}
            {% assign loopindex = forloop.index | modulo: 2 %}
            {% if forloop.last %}
                {% if forloop.last == forloop.first %}
            <div class="col-sm-6 wow col-sm-offset-3 zoomIn">
                {% else %}
            <div class="col-sm-6 wow {% if loopindex == 1 %} fadeInLeft col-sm-offset-3 {% else %} fadeInRight {% endif %}">
                {% endif %}
            {% else %}
            <div class="col-sm-6 wow {% if loopindex == 1 %} fadeInLeft {% else %} fadeInRight {% endif %}">
            {% endif %}
              <div class="team-member">
                  <img src="{{ story.img | prepend: site.baseurl }}" class="img-responsive img-circle img-large" alt="">
              </div>
              <div class="caption-margin">
                  <h4>{{ story.name }}</h4>
              <div class="team-member">
            </div>
        {% endfor %}
    </div>
</div>
